.header-content-wrap {
    padding: 85px 0 10px;
}

.latestnews-box {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
    clear:both;
}

.latestnews-img{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    float: left;
}

.latestnews-description{
    text-align: left;
    margin-left: 45%;
}

.all_latest_news{
    width: 35%;
    float: right;
    text-align: left;
}

#carousel-homepage-latestnews .item .latestnews-box .latestnews-title a:before {
    width: 100%;
    background: rgba(135, 134, 163, 0.24);
    bottom: -5px;
    left: 0;
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+1) .latestnews-title a:before {
    background: rgba(135, 134, 163, 0.24);
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+2) .latestnews-title a:before {
    background: rgba(135, 134, 163, 0.24);
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+3) .latestnews-title a:before {
    background: rgba(135, 134, 163, 0.24);
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n) .latestnews-title a:before {
    background: rgba(135, 134, 163, 0.24);
}

#carousel-homepage-latestnews .carousel-inner .item .latestnews-title {
    margin-bottom: 10px;
    margin-top: 15px;
}