.latestnews-box {
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    clear:both;
}

body {
    background-size: cover !important;
}



.latestnews-img{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 30%;
    float: left;
}

.latestnews-description{
    text-align: left;
}

.all_latest_news{
    color: #FFFFFF;
    margin-left: -20px;
    width: 35%;
    float: right;
    text-align: left;
}

.latest-news{
    background: #272727;
}

.stripe-content{
    width: 35%;
    float: right;
}

.latesnews-content{
    margin-right: 80px;
    color: #FFFFFF;
    width: 50%;
    float: right;
}
.latestnews-title {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

#carousel-homepage-latestnews .item .latestnews-box .latestnews-title a:before {
    width: 100%;
    background: #7a7a7a;
    bottom: -5px;
    left: 0;
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+1) .latestnews-title a:before {
    background: #7a7a7a;
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+2) .latestnews-title a:before {
    background: #7a7a7a;
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+3) .latestnews-title a:before {
    background: #7a7a7a;
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n) .latestnews-title a:before {
    background: #7a7a7a;
}

#carousel-homepage-latestnews .carousel-inner .item .latestnews-title {
    color: white;
    margin-bottom: 10px;
    margin-top: 15px;
}

.contact-us{
background: #FFFFFF;
}

.menu-bar{
	float:left !important;
	padding-left: 0px;
	margin-top: -15px;
}

input[type="search"] {
	height: 12px;
}

.widget_search .search-submit {
	height: 35px;
}

.search-form>label {
    margin-bottom: 0px;
}

.background-lightgray {
    background: #F0F0F0;
}
.navbar-inverse .navbar-nav>li {

    margin-right: 0px;
    margin-top: 15px;

}
.navbar-inverse .navbar-nav>li>a {
    color: #404040;
/*
    height: 40px;
    line-height: 35px;  */
    font-size: 13px;
    text-transform: uppercase;
    
    padding-right: 10px;
    padding-left: 10px;
}
@media screen and (max-width: 767px) {
    .navbar-inverse .navbar-nav>li>a {

    }
    #sub_navbar {
        overflow: auto;
    }
    #sub_navbar nav {
        margin-top: 0px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-inverse .navbar-nav>li:hover {
        background-color: #D0D0D0;

    }
}

 .navbar-inverse .navbar-nav > li > a:hover {
        color: #e96656 !important;
       /* background-color: #D0D0D0; */
       transition: width 0s ease;
    }
  

@media (min-width: 768px){
    .team-box {
        width: 19%;
    }
    .team-member .profile-pic{
        width: auto;
        height: auto;
    }
}

.latest-news {
    background: #ffffff;
}
