.latestnews-box {
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    clear:both;
}

body {
    background-size: cover !important;
}



.latestnews-img{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 30%;
    float: left;
}

.latestnews-description{
    text-align: left;
}

.all_latest_news{
    color: #FFFFFF;
    margin-left: -20px;
    width: 35%;
    float: right;
    text-align: left;
}

.latest-news{
    background: #272727;
}

.latesnews-content{
    margin-right: 80px;
    color: #000000;
    width: 50%;
    float: right;
}
.latestnews-title {
    text-align: center;
    color: #000000;
    width: 100%;
}

#carousel-homepage-latestnews .item .latestnews-box .latestnews-title a:before {
    width: 100%;
    background: #7a7a7a;
    bottom: -5px;
    left: 0;
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+1) .latestnews-title a:before {
    background: #7a7a7a;
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+2) .latestnews-title a:before {
    background: #7a7a7a;
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+3) .latestnews-title a:before {
    background: #7a7a7a;
}
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n) .latestnews-title a:before {
    background: #7a7a7a;
}

#carousel-homepage-latestnews .carousel-inner .item .latestnews-title {
    color: white;
    margin-bottom: 10px;
    margin-top: 15px;
}

.contact-us{
background: #FFFFFF;
}

.menu-bar{
	float:left !important;
	padding-left: 0px;
	margin-top: -15px;
}

.search-form>label {
    margin-bottom: 0px;
}

.background-lightgray {
    background: #F0F0F0;
}
.navbar-inverse .navbar-nav>li {

    margin-right: 0px;
    margin-top: 15px;

}
.navbar-inverse .navbar-nav>li>a {
    color: #404040;
/*
    height: 40px;
    line-height: 35px;  */
    font-size: 13px;
    text-transform: uppercase;

    padding-right: 10px;
    padding-left: 10px;
}
@media screen and (max-width: 767px) {
    .navbar-inverse .navbar-nav>li>a {

    }
    #sub_navbar {
        overflow: auto;
    }
    #sub_navbar nav {
        margin-top: 0px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-inverse .navbar-nav>li:hover {
        background-color: #D0D0D0;

    }
}

 .navbar-inverse .navbar-nav > li > a:hover {
        color: #e96656 !important;
       /* background-color: #D0D0D0; */
       transition: width 0s ease;
    }


@media (min-width: 768px){
    .team-box {
        width: 19%;
    }
    .team-member .profile-pic{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 525px) {
    .latestnews-description{
        display: none;
    }
    .latesnews-content{
        width: 100%;
        float: none;
    }
    .latestnews-img{
        width: 100%;
    }
}

.latest-news {
    background: #ffffff;
    color: black;
}

.latestnews-description{
    color: black;
}

.about-us p {
    text-align: left;
    color: white;
    font-size: 17px;
    line-height: 25px;
}

.wp-caption {
    border: none;
}

.wp-caption-text{
    padding: 3%;
    font-size: 14px;
    font-style: italic;
}

.wp-caption img[class*="wp-image-"] {
    margin-bottom: 8px;
}

.header-content-wrap{
    padding: 194px 0 100px;
}

@media only screen and (max-device-width: 480px){
    .header-content-wrap{
        padding: 100px 0 100px;
    }
}

.latest-news .container .row .column .stripe-content .section-header,
.latest-news .container .row .column .section-header
{
    padding-bottom: 20px;
}

.widget_translate{
    padding-left: 15px;
}

#carousel-homepage-latestnews{
    margin: 0!important;
}

#payment-form-style{
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 43, 255, 0.2);
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 25px;
    background-color: rgba(0, 126, 255, 0.08);
}

#payment-form-style div{
    margin-bottom: 10px;

}

#payment-form-style div input{
        height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

#payment-form-style div select{
        height: 34px;
}

#payment-form-style div button{
    margin-top: -10px;
    width: 100%;
}

.search-field{
    border: 1px solid rgb(0, 0, 0) !important;
}
