   /*
   Theme Name: Life And Hope - Zerif Lite Child
   Theme URI: https://www.themeisle.com/ 
   Description: This is a custom child theme for Life and Hope.
   Author: EiT Gruppe 4 2016
   URI: https://www.themeisle.com/ 
   Template: zerif-lite
   Version: 0.1 
   */